{% extends 'base/base.html' %}
{% block content %}
    <h1>Income</h1>
    <form method="get">
        <input type="text" name="search_box" value="{{ search_input }}">
        <input type="submit" value="Search">
    </form>
    <table>
        <h2>List:</h2>
        <a href="{% url 'income-create' %}">Add income</a>
        {% for income in incomes %}
            <tr>
                <td>{{ income.title }}: {{ income.monthly_income }}</td>
                <td>
                    <a href="{% url 'income-update' income.id %}">Edit</a>
                </td>
                <td>
                    <a href="{% url 'income-delete' income.id %}">Delete</a>
                </td>
            </tr>
        {% empty %}
            <h3>No items in list</h3>
        {% endfor %}
    </table>
    <table>
        <h2>Income:</h2>
        <td>Total: </td>
        <td>R$ {{ monthly_income|floatformat:2 }}</td>
        <td>
            <a href="{% url 'income-create' %}">Add income</a>
            <a href="{% url 'income-create' %}">income list</a>
        </td>
    </table>
{% endblock content %}
