{% extends 'base/base.html' %}
{% block content %}
    <h1>Base Test</h1>
    <form method="get">
        <input type="text" name="search_box" value="{{ search_input }}">
        <input type="submit" value="Search">
    </form>
    <table>
        <h2>List:</h2>
        <a href="{% url 'investment-create' %}">Add Investment</a>
        <a href="{% url 'investment-form' %}">Investment Calculation    </a>
        {% for investment in investments %}
            <tr>
                <td>{{ investment.title }}: {{ investment.starting_amount }}</td>
                <td>
                    <a href="{% url 'investment' investment.id %}">View</a>
                </td>
                <td>
                    <a href="{% url 'investment-update' investment.id %}">Edit</a>
                </td>
                <td>
                    <a href="{% url 'investment-delete' investment.id %}">Delete</a>
                </td>
            </tr>
        {% empty %}
            <h3>No items in list</h3>
        {% endfor %}
    </table>
    <table>
        <h2>Income:</h2>
        <td>Total: </td>
        <td>R$ {{ monthly_income|floatformat:2 }}</td>
        <td>
            <a href="{% url 'income-create' %}">Add income</a>
            <a href="{% url 'income-list' %}">income list</a>
        </td>
    </table>
    <table>
        <h2>expense:</h2>
        <td>Total: </td>
        <td>R$ {{ monthly_expense|floatformat:2 }}</td>
        <td>
            <a href="{% url 'expense-create' %}">Add expense</a>
            <a href="{% url 'expense-list' %}">expense list</a>
        </td>
    </table>
{% endblock content %}
